<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/common/index2.css">
    <link rel="stylesheet" href="/common/login2.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
