<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/common/form.css">
    <script src="/common/payment.js"></script>
    <script src="/common/formControl.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
