   <!-- This does not work don't touch it atm. -->
<div class="outerContainer">
    <h1> Emergency Contact Information </h1>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="contactPerson">Contact Person in Case of Emergency: </label><br>
            <input class="inputBox" type="text" id="contactPerson" name="contactPerson" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="contactPersonContact">Contact Number: </label><br>
            <input class="inputBox" type="text" id="contactPersonContact" name="contactPersonContact" required><br>
        </div>

    </div>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="contactRelationship">Relationship: </label><br>
            <input class="inputBox" type="text" id="relationship" name="relationship" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="contactAddress">Address: </label><br>
            <input class="inputBox" type="text" id="contactAddress" name="contactAddress" required><br>
        </div>
    </div>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="comments">Comments: </label><br>
            <textarea class="commentBox" id="comments" name="comments" required></textarea><br>
        </div>

    </div>

    <input  type="submit" value="submit" id="submit-btn">
</div>