<form action='login-checker' method='post'>
    <label for="username">Username: </label><br>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password: </label><br>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Log in" id="login-btn">
</form>

<hr>
<button id="paymentButton">PAYMENT PORTAL SAMPLE BUTTON</button>
<div id="iframeContainer"></div>

<p id="paymentStatusContainer">DEBUG- PAYMENT STATUS- THIS UPDATES EVERY 5 SECONDS UPON CLICKING THAT BUTTON ^</p>
<h4> Don't have an account? <a href="/form"> Sign up</a></h4>