<div class="banner">
    <img src="/images/banner.png"> 
</div>
<div class="wrapper">
    <form id="login-form" action="login-checker" method="post">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" id="username" name="username" required>
            <span class="login-icon material-symbols-outlined">person</span>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" id="password" name="password" required>
            <span class="login-icon material-symbols-outlined">lock</span>
        </div>

        <div class="remember-me">
            <label><input type="checkbox"> Remember Me</label>
            <a href="#">Forgot Password?</a>
        </div>

        <input class="btn" type="submit" value="Log in" id="login-btn">
    </form>
</div>
