 <!-- This does not work don't touch it atm. -->
 
 <div class="outerContainer">
        <h1> Health Information </h1>
        <div class="divider">
            <div class="comboBox">
                <label for="uic" class="left">Unique Identifier Code: </label><br>
                <div class="uic-container">
                    <input class="uic-box" type="text" maxlength="2" id="uic1" name="uic1" required>
                    <input class="uic-box" type="text" maxlength="2" id="uic2" name="uic2" required>
                    <input class="uic-box" type="text" maxlength="2" id="uic3" name="uic3" required>
                    <input class="uic-box" type="text" maxlength="2" id="uic4" name="uic4" required>
                </div>
            </div>

        </div>

        <div class="divider">
            <div class="comboBox">
                <label class="left" for="physician">Attending Physician: </label><br>
                <input class="inputBox" type="text" id="physician" name="physician" required><br>
            </div>
            <div class="comboBox">
                <label class="left" for="dod">Date of Diagnosis: </label><br>
                <input class="inputBox" type="date" id="dod" name="dod" required><br>
            </div>
            <div class="comboBox">
                <label class="left" for="treatmentHub">Treatment Hub: </label><br>
                <input class="inputBox" type="text" id="treatmentHub" name="treatmentHub" required><br>
            </div>
        </div>
        <div class="divider">
            <div class="comboBox">
                <label class="left" for="regimen">Regimen: </label><br>
                <input class="inputBox" type="text" id="regimen" name="regimen" required><br>
            </div>
            <div class="comboBox">
                <label class="left" for="location">Location: </label><br>
                <input class="inputBox" type="text" id="location" name="location" required><br>
            </div>  
            <div class="comboBox">
                <label class="left" for="contact">Contact Person: </label><br>
                <input class="inputBox" type="text" id="contact" name="contact" required><br>       
            </div> 

        </div>
        
        <h2>Concurrent Medications</h2>
        <div id="medications">
            <div class="divider">
                <div class="comboBox">
                    <label for="medication0" class="left">Medication:</label><br>
                    <input class="inputBox" type="text" id="medication0" name="medication[]" required placeholder="Enter medication"><br>
                </div>
                <div class="xButton">
                    <button type="button" class="remove-button" onclick="removeEntry(this)"> </button>
                </div>
            </div>
        </div>
        <button type="button" id="addMedication">Add More</button>
        
        <h2>Medical Conditions</h2>
        <div id="conditions">
            <div class="divider">
                <div class="comboBox">
                    <label for="condition0" class="left">Condition:</label><br>
                    <input class="inputBox" type="text" id="condition0" name="condition[]" required placeholder="Enter condition"><br>
                </div>
                <div class="xButton">
                    <button type="button" class="remove-button" onclick="removeEntry(this)"> </button>
                </div>
            </div>
        </div>
        <button type="button" id="addCondition">Add More</button>
    </div>