<main>
        <div class="main">

            <div class="profile-details">
                <div class="profile-picture">
                    <div class="pfp-img-container img-container">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    </div>
                </div>
                <div class="profile-name">
                    <h2>John Smith</h2>
                </div>
                <div class="profile-note">
                    <h2 class="h2-note">Note</h2>
                    <p class="note-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum totam error officiis fugit illo, ab ducimus corrupti illum maiores iure nemo autem sint. Doloribus magni delectus odio tempore animi omnis?</p>
                </div>
            </div>

            <form id="personal-form" class="profile-form" action="" method="">
                <div class="profile-information">
                    <div class="profile-info-header"><h2>Personal Information</h2></div>

                    <div class="profile-item">
                        <div class="detail UIC d1">
                            <label for="UIC" class="detail-label l1">UIC:</label>
                            <input class="detail-input x1" type="text" name="UIC">
                        </div>
                        <div class="detail Name d2">
                            <label for="Name" class="detail-label l2">Name:</label>
                            <input class="detail-input x2" type="text" name="Name">
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="detail Birthday d1">
                            <label for="Birthday" class="detail-label l1">Birthday:</label>
                            <input class="detail-input detail-bday x1" type="date" name="Birthday">
                        </div>
                        <div class="detail Address d2">
                            <label for="Address" class="detail-label l2">Address:</label>
                            <input class="detail-input x2" type="text" name="Address">
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="detail Gender d1">
                            <label for="Gender" class="detail-label l1">Gender:</label>
                            <select class="detail-dropdown x1" name="Gender">
                                <option value="">Select</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="bisexual">Bisexual</option>
                                <option value="transgender">Transgender</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="detail Sex d2">
                            <label for="Sex" class="detail-label l2">Sex:</label>
                            <select class="detail-dropdown x2" name="Sex">
                                <option value="">Select</option>
                                <option value="m">M</option>
                                <option value="w">W</option>
                            </select>
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="detail Contact last">
                            <label for="Contact" class="detail-label l1">Contact:</label>
                            <input class="detail-input col1" type="text" name="Contact">
                        </div>
                        <div class="detail Email last">
                            <label for="Email" class="detail-label l2">Email:</label>
                            <input class="detail-input col2" type="text" name="Email">
                        </div>
                        <div class="detail Civil last">
                            <label for="Civil" class="detail-label l3">Civil Status:</label>
                            <input class="detail-input col3" type="text" name="Civil">
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="detail Facebook last">
                            <label for="Facebook" class="detail-label l1">Facebook:</label>
                            <input class="detail-input col1" type="text" name="Facebook">
                        </div>
                        <div class="detail Education last">
                            <label for="Education" class="detail-label l2">Education:</label>
                            <input class="detail-input col2" type="text" name="Education">
                        </div>
                        <div class="detail School_Attended last">
                            <label for="School_Attended" class="detail-label l3">School Attended:</label>
                            <input class="detail-input col3" type="text" name="School_Attended">
                        </div>
                    </div>

                    <div class="profile-item">
                        <div class="detail Occupation last">
                            <label for="Occupation" class="detail-label l1">Occupation:</label>
                            <input class="detail-input col1" type="text" name="Occupation">
                        </div>
                        <div class="detail Designation last">
                            <label for="Designation" class="detail-label l2">Designation:</label>
                            <input class="detail-input col2" type="text" name="Designation">
                        </div>
                        <div class="detail Company last">
                            <label for="Company" class="detail-label l3">Company:</label>
                            <input class="detail-input col3" type="text" name="Company">
                        </div>
                    </div>
                </div>
            </form>

            <form id="health-form" class="profile-form" action="" method="">
                <div class="profile-information">
                    <div class="profile-info-header"><h2>Health Information</h2></div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>
                </div>
            </form>

            <form id="contact-form" class="profile-form" action="" method="">
                <div class="profile-information">
                    <div class="profile-info-header"><h2>Contact Information</h2></div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>

                    <div class="profile-item">

                    </div>
                </div>
            </form>

            <div class="form-navigate">
                <div class="nav-arrow nav-right">
                    <button id="next" class="nav-btn"><span class="nav-icon-right material-symbols-outlined">arrow_back_ios</span></button>
                </div>
                <div class="nav-arrow nav-left">
                    <button id="prev" class="nav-btn"><span class="nav-icon-left material-symbols-outlined">arrow_forward_ios</span></button>
                </div>
            </div>

        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const forms = document.querySelectorAll(".profile-form");
            const nextButton = document.getElementById("next");
            const prevButton = document.getElementById("prev");
            let currentFormIndex = 0;

            forms[currentFormIndex].classList.add("active");

            prevButton.addEventListener("click", function() {
                if (currentFormIndex < forms.length - 1) {
                    forms[currentFormIndex].classList.remove("active");
                    currentFormIndex++;
                    forms[currentFormIndex].classList.add("active");
                }
            });

            nextButton.addEventListener("click", function() {
                if (currentFormIndex > 0) {
                    forms[currentFormIndex].classList.remove("active");
                    currentFormIndex--;
                    forms[currentFormIndex].classList.add("active");
                }
            });
        });
    </script>