<div class="outerContainer">
    <div class="divider">
        <div class="comboBox">
            <label for="uic" class="left">Unique Identifier Code: </label><br>
            <div class="uic-container">
                <input class="uic-box" type="text" maxlength="2" id="uic1" name="uic1" required>
                <input class="uic-box" type="text" maxlength="2" id="uic2" name="uic2" required>
                <input class="uic-box" type="text" maxlength="2" id="uic3" name="uic3" required>
                <input class="uic-box" type="text" maxlength="2" id="uic4" name="uic4" required>
                <input class="uic-box" type="text" maxlength="2" id="uic5" name="uic5" required>
                <input class="uic-box" type="text" maxlength="2" id="uic6" name="uic6" required>
                <input class="uic-box" type="text" maxlength="2" id="uic7" name="uic7" required>
            </div>
        </div>
    </div>
    <br>
    <label for ="name"> Name: </label>
    <br>
    <label for ="membership"> Member Until: </label>
    <br>
    
    <button id="paymentButton">PAYMENT PORTAL SAMPLE BUTTON</button>
    <div id="iframeContainer"></div>

    <p id="paymentStatusContainer">Debug payment Status</p>
</div>



