<script>
        function showOptions() {
        const registeredOptions = document.getElementById('registered-options');
        const communityOptions = document.getElementById('community-options');
        const registeredRadio = document.getElementById('registered');
        const communityRadio = document.getElementById('community-member');
        
        if (registeredRadio.checked) {
            registeredOptions.classList.remove('hidden');
            communityOptions.classList.add('hidden');
        } else if (communityRadio.checked) {
            registeredOptions.classList.add('hidden');
            communityOptions.classList.remove('hidden');
        }
    }
</script>
<div class="outerContainer">
    <form id="uploadForm">
        <h2>Upload a profile picture</h2>
        <input type="file" accept="image/*" id="imageFile" name="imageFile">
        <button type="button" id="cancelButton">X</button>
    </form>

    <p id="status"></p>
    <p> Todo: ESigniture</p>
   
    <h1> Personal Information </h1>
    <div class="divider">
        <div class="comboBox">
            <label for="uic" class="left">Unique Identifier Code: </label><br>
            <div class="uic-container">
                <input class="uic-box" type="text" maxlength="2" id="uic1" name="uic1" required>
                <input class="uic-box" type="text" maxlength="2" id="uic2" name="uic2" required>
                <input class="uic-box" type="text" maxlength="2" id="uic3" name="uic3" required>
                <input class="uic-box" type="text" maxlength="2" id="uic4" name="uic4" required>
                <input class="uic-box" type="text" maxlength="2" id="uic5" name="uic5" required>
                <input class="uic-box" type="text" maxlength="2" id="uic6" name="uic6" required>
                <input class="uic-box" type="text" maxlength="2" id="uic7" name="uic7" required>
            </div>
        </div>         

    </div>        
    <div class="divider">
        <div class="comboBox">
            <label for="lname" class="left">Last Name</label><br>
            <div>
                <input class="inputBox" type="text" id="lname" name="lname" placeholder="Last Name" required><br>
            </div>
        </div>
        <div class="comboBox">
            <label for="fname" class="left">First Name</label><br>
            <div>
                <input class="inputBox" type="text" id="fname" name="fname" placeholder="First Name" required><br>
            </div>
        </div>
                <div class="comboBox">
            <label for="mname" class="left">Middle Name</label><br>
            <div>
                <input class="inputBox" type="text" id="mname" name="mname" placeholder="Middle Name" required><br>
            </div>
        </div>
    </div>
        
    <div class="divider">
        <div class="comboBox">
            <label for="gender" class="left">Gender</label><br>
            <div>
                <select id="gender" name="gender" class="inputBox">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="heterosexual">Heterosexual</option>
                    <option value="gay">Gay</option>
                    <option value="lesbian">Lesbian</option>
                    <option value="bisexual">Bisexual</option>
                    <option value="transwoman">Transwoman</option>
                </select><br>
            </div>
        </div>

        <div class="comboBox">
            <label for="sex" class="left">Sex</label><br>
            <div>
                <select id="sex" name="sex" class="inputBox" required>
                    <option value="" disabled selected>Sex</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select><br>
            </div>
        </div>

        <div class="comboBox">
            <label for="keyPopulation" class="left">Key Population</label><br>
            <div>
                <select id="keyPopulation" name="keyPopulation" class="inputBox" required>
                    <option value="" disabled selected>Key Population</option>
                    <option value="Msm">Msm</option>
                    <option value="Women's">Women's</option>
                    <option value="Sex worker">Sex Worker</option>
                    <option value="PWID/PWUD">PWID/PWUD</option>
                    <option value="Youth(15 to 24)">Youth [15 to 24]</option>
                </select><br>
            </div>
        </div>

        <div class="comboBox">
            <label for="bday" class="left">Birthday:</label><br>
            <div>
                <input type="date" id="bday" name="bday" class="inputBox" required><br>
            </div>
            
        </div>
    </div>
        
    <div class="divider">
        <div class="comboBox">
            <label for="contact-number" class="left">Contact Number:</label><br>
            <div>
                <input class="inputBox" type="tel" id="contact-number" name="contact-number" required><br>
            </div>
        </div>

        <div class="comboBox">
            <label for="email" class="left">Email:</label><br>
            <div>
                <input class="inputBox" type="email" id="email-address" name="email-address" required><br>
            </div>
        </div>
        <div class="comboBox">
            <label for="facebook" class="left">Facebook Account:</label><br>
            <div>
                <input class="inputBox" type="url" id="facebook-address" name="facebook-address" placeholder="https://www.facebook.com/yourprofile"><br>
            </div>
            
        </div>
    </div>

    <div class="divider">

        <div class="comboBox">
            <label for="barangay" class="left">Barangay:</label><br>
            <select id="barangay" class="inputBox" name="barangay">
                <option value="">Select Barangay</option>
            </select>
        </div>

        <div class="comboBox">
            <div id="otherLocation" style="display: none;">
                <label for="otherBarangay">Enter your barangay:</label>
                <input class="inputBox"type="text" id="barangay" name="barangay" placeholder="Enter Location"required>
            </div>
        </div>
    <script>
        function populateBarangays() {
        
        var select = document.getElementById("barangay");

        // Array of barangay numbers (assuming they are sequential from 1 to 188)
        var barangays = Array.from({ length: 188 }, (_, index) => index + 1);

        var noneOption = document.createElement("option");
        noneOption.value = "";
        noneOption.textContent = "None";
        select.appendChild(noneOption);

        // Iterate through the array and create option elements
        barangays.forEach(function (barangay) {
            var option = document.createElement("option");
            option.value = "Barangay " + barangay; 
            option.textContent = "Barangay " + barangay; 
            select.appendChild(option);
        });
    }
        function handleBarangayChange() {

        var selectedBarangay = document.getElementById("barangay").value;
        var otherLocation = document.getElementById("otherLocation");

        if (selectedBarangay === "") {
            otherLocation.style.display = "block";
        } else {
            otherLocation.style.display = "none";
        }
    }
    // call the function to populate the dropdown when the page loads
    populateBarangays();
    document.getElementById("barangay").addEventListener("change", handleBarangayChange);
    </script>
    
        <div class="comboBox">
            <label for="civil-status" class="left">Civil Status:</label><br>
            <div>
                <select id="civil-status" class="inputBox" name="civil-status" required>
                    <option value="" disabled selected>Select your civil status</option>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="divorced">Divorced</option>
                    <option value="widowed">Widowed</option>
                </select><br>
            </div>
        </div>
        
        <div class="comboBox">
            <label for="citizenship" class="left">Citizenship:</label><br>
            <select id="citizenship" class="inputBox" name="citizenship" required>
                <option value="" disabled selected>Select your citizenship</option>
                <option value="afghanistan">Afghanistan</option>
                <option value="albania">Albania</option>
                <option value="algeria">Algeria</option>
                <option value="andorra">Andorra</option>
                <option value="angola">Angola</option>
                <option value="antigua-and-barbuda">Antigua and Barbuda</option>
                <option value="argentina">Argentina</option>
                <option value="armenia">Armenia</option>
                <option value="australia">Australia</option>
                <option value="austria">Austria</option>
                <option value="azerbaijan">Azerbaijan</option>
                <option value="bahamas">Bahamas</option>
                <option value="bahrain">Bahrain</option>
                <option value="bangladesh">Bangladesh</option>
                <option value="barbados">Barbados</option>
                <option value="belarus">Belarus</option>
                <option value="belgium">Belgium</option>
                <option value="belize">Belize</option>
                <option value="benin">Benin</option>
                <option value="bhutan">Bhutan</option>
                <option value="bolivia">Bolivia</option>
                <option value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
                <option value="botswana">Botswana</option>
                <option value="brazil">Brazil</option>
                <option value="brunei">Brunei</option>
                <option value="bulgaria">Bulgaria</option>
                <option value="burkina-faso">Burkina Faso</option>
                <option value="burundi">Burundi</option>
                <option value="cabo-verde">Cabo Verde</option>
                <option value="cambodia">Cambodia</option>
                <option value="cameroon">Cameroon</option>
                <option value="canada">Canada</option>
                <option value="central-african-republic">Central African Republic</option>
                <option value="chad">Chad</option>
                <option value="chile">Chile</option>
                <option value="china">China</option>
                <option value="colombia">Colombia</option>
                <option value="comoros">Comoros</option>
                <option value="congo-democratic-republic">Congo, Democratic Republic of the</option>
                <option value="congo-republic">Congo, Republic of the</option>
                <option value="costa-rica">Costa Rica</option>
                <option value="croatia">Croatia</option>
                <option value="cuba">Cuba</option>
                <option value="cyprus">Cyprus</option>
                <option value="czech-republic">Czech Republic</option>
                <option value="denmark">Denmark</option>
                <option value="djibouti">Djibouti</option>
                <option value="dominica">Dominica</option>
                <option value="dominican-republic">Dominican Republic</option>
                <option value="east-timor">East Timor</option>
                <option value="ecuador">Ecuador</option>
                <option value="egypt">Egypt</option>
                <option value="el-salvador">El Salvador</option>
                <option value="equatorial-guinea">Equatorial Guinea</option>
                <option value="eritrea">Eritrea</option>
                <option value="estonia">Estonia</option>
                <option value="eswatini">Eswatini</option>
                <option value="ethiopia">Ethiopia</option>
                <option value="fiji">Fiji</option>
                <option value="finland">Finland</option>
                <option value="france">France</option>
                <option value="gabon">Gabon</option>
                <option value="gambia">Gambia</option>
                <option value="georgia">Georgia</option>
                <option value="germany">Germany</option>
                <option value="ghana">Ghana</option>
                <option value="greece">Greece</option>
                <option value="grenada">Grenada</option>
                <option value="guatemala">Guatemala</option>
                <option value="guinea">Guinea</option>
                <option value="guinea-bissau">Guinea-Bissau</option>
                <option value="guyana">Guyana</option>
                <option value="haiti">Haiti</option>
                <option value="honduras">Honduras</option>
                <option value="hungary">Hungary</option>
                <option value="iceland">Iceland</option>
                <option value="india">India</option>
                <option value="indonesia">Indonesia</option>
                <option value="iran">Iran</option>
                <option value="iraq">Iraq</option>
                <option value="ireland">Ireland</option>
                <option value="israel">Israel</option>
                <option value="italy">Italy</option>
                <option value="jamaica">Jamaica</option>
                <option value="japan">Japan</option>
                <option value="jordan">Jordan</option>
                <option value="kazakhstan">Kazakhstan</option>
                <option value="kenya">Kenya</option>
                <option value="kiribati">Kiribati</option>
                <option value="korea-north">Korea, North</option>
                <option value="korea-south">Korea, South</option>
                <option value="kosovo">Kosovo</option>
                <option value="kuwait">Kuwait</option>
                <option value="kyrgyzstan">Kyrgyzstan</option>
                <option value="laos">Laos</option>
                <option value="latvia">Latvia</option>
                <option value="lebanon">Lebanon</option>
                <option value="lesotho">Lesotho</option>
                <option value="liberia">Liberia</option>
                <option value="libya">Libya</option>
                <option value="liechtenstein">Liechtenstein</option>
                <option value="lithuania">Lithuania</option>
                <option value="luxembourg">Luxembourg</option>
                <option value="madagascar">Madagascar</option>
                <option value="malawi">Malawi</option>
                <option value="malaysia">Malaysia</option>
                <option value="maldives">Maldives</option>
                <option value="mali">Mali</option>
                <option value="malta">Malta</option>
                <option value="marshall-islands">Marshall Islands</option>
                <option value="mauritania">Mauritania</option>
                <option value="mauritius">Mauritius</option>
                <option value="mexico">Mexico</option>
                <option value="micronesia">Micronesia</option>
                <option value="moldova">Moldova</option>
                <option value="monaco">Monaco</option>
                <option value="mongolia">Mongolia</option>
                <option value="montenegro">Montenegro</option>
                <option value="morocco">Morocco</option>
                <option value="mozambique">Mozambique</option>
                <option value="myanmar">Myanmar</option>
                <option value="namibia">Namibia</option>
                <option value="nauru">Nauru</option>
                <option value="nepal">Nepal</option>
                <option value="netherlands">Netherlands</option>
                <option value="new-zealand">New Zealand</option>
                <option value="nicaragua">Nicaragua</option>
                <option value="niger">Niger</option>
                <option value="nigeria">Nigeria</option>
                <option value="north-macedonia">North Macedonia</option>
                <option value="norway">Norway</option>
                <option value="oman">Oman</option>
                <option value="pakistan">Pakistan</option>
                <option value="palau">Palau</option>
                <option value="panama">Panama</option>
                <option value="papua-new-guinea">Papua New Guinea</option>
                <option value="paraguay">Paraguay</option>
                <option value="peru">Peru</option>
                <option value="philippines">Philippines</option>
                <option value="poland">Poland</option>
                <option value="portugal">Portugal</option>
                <option value="qatar">Qatar</option>
                <option value="romania">Romania</option>
                <option value="russia">Russia</option>
                <option value="rwanda">Rwanda</option>
                <option value="saint-kitts-and-nevis">Saint Kitts and Nevis</option>
                <option value="saint-lucia">Saint Lucia</option>
                <option value="saint-vincent-and-the-grenadines">Saint Vincent and the Grenadines</option>
                <option value="samoa">Samoa</option>
                <option value="san-marino">San Marino</option>
                <option value="sao-tome-and-principe">Sao Tome and Principe</option>
                <option value="saudi-arabia">Saudi Arabia</option>
                <option value="senegal">Senegal</option>
                <option value="serbia">Serbia</option>
                <option value="seychelles">Seychelles</option>
                <option value="sierra-leone">Sierra Leone</option>
                <option value="singapore">Singapore</option>
                <option value="slovakia">Slovakia</option>
                <option value="slovenia">Slovenia</option>
                <option value="solomon-islands">Solomon Islands</option>
                <option value="somalia">Somalia</option>
                <option value="south-africa">South Africa</option>
                <option value="south-sudan">South Sudan</option>
                <option value="spain">Spain</option>
                <option value="sri-lanka">Sri Lanka</option>
                <option value="sudan">Sudan</option>
                <option value="suriname">Suriname</option>
                <option value="sweden">Sweden</option>
                <option value="switzerland">Switzerland</option>
                <option value="syria">Syria</option>
                <option value="taiwan">Taiwan</option>
                <option value="tajikistan">Tajikistan</option>
                <option value="tanzania">Tanzania</option>
                <option value="thailand">Thailand</option>
                <option value="togo">Togo</option>
                <option value="tonga">Tonga</option>
                <option value="trinidad-and-tobago">Trinidad and Tobago</option>
                <option value="tunisia">Tunisia</option>
                <option value="turkey">Turkey</option>
                <option value="turkmenistan">Turkmenistan</option>
                <option value="tuvalu">Tuvalu</option>
                <option value="uganda">Uganda</option>
                <option value="ukraine">Ukraine</option>
                <option value="united-arab-emirates">United Arab Emirates</option>
                <option value="united-kingdom">United Kingdom</option>
                <option value="united-states">United States</option>
                <option value="uruguay">Uruguay</option>
                <option value="uzbekistan">Uzbekistan</option>
                <option value="vanuatu">Vanuatu</option>
                <option value="vatican-city">Vatican City</option>
                <option value="venezuela">Venezuela</option>
                <option value="vietnam">Vietnam</option>
                <option value="yemen">Yemen</option>
                <option value="zambia">Zambia</option>
                <option value="zimbabwe">Zimbabwe</option>
            </select>
        </div>
    </div>

    

    <div class="divider">
        <div class="comboBox">
            <label for="occupation" class="left">Occupation:</label><br>
            <input class="inputBox" type="text" id="occupation" name="occupation" required><br>
        </div>
        <div class="comboBox" >
            <label for="designation" class="left">Designation:</label><br>
            <input class="inputBox" type="text" id="designation" name="designation" required><br>

        </div>
        <div class="comboBox">
            <label for="company" class="left">Company:</label><br>
            <input class="inputBox" type="text" id="company"  name="company" required><br>
        </div>
    </div>


    <div class="divider">
        <label for="membership" class="left">Membership Type:</label>
        <div class="comboBox">
            
            <div class="inputBox">
                <label>
                    <input type="radio" name="membership" id="registered" onclick="showOptions()">
                    Registered
                </label>
                <label>
                    <input type="radio" name="membership" id="community-member" onclick="showOptions()">
                    Community Member
                </label>
            </div>

        </div>
    </div>

    <div id="registered-options" class="hidden divider">
        <label class="left">Registered Options:</label>
        <div class="comboBox inputBox">
            
            <label>
                <input type="radio" name="registered-status">
                Paid
            </label>
            <label>
                <input type="radio" name="registered-status">
                Not Paid
            </label>
        </div>
    </div>

    <div id="community-options" class="hidden divider">
        <label class="left">Community Member Options:</label>
        <div class="comboBox inputBox">
            <label>
                <input type="checkbox" name="community-services">
                Psychological
            </label>
            <label>
                <input type="checkbox" name="community-services">
                Psychospiritual
            </label>
            <label>
                <input type="checkbox" name="community-services">
                Temporary Shelter
            </label>
            <label>
                <input type="checkbox" name="community-services">
                Legal Assistance
            </label>
        </div>
    </div>






    <h2> Education Entries</h2>
    <div id="entries">
        <div class="divider">
            <div class="comboBox">
                <label for="school0" class="left">School Attended:</label><br>
                <input class="inputBox" type="text" id="school0" name="school[]" required placeholder="Enter the school attended"><br>
            </div>
            <div class="comboBox">
                <label for="course0" class="left">Course:</label><br>
                <input class="inputBox" type="text" id="course0" name="course[]" required placeholder="Enter your course"><br>
            </div>
            <div class="comboBox">
                <label for="education-year0" class="left">Education Year:</label><br>
                <select class="inputBox" id="education-year0" name="education-year[]" required>
                    <option value="" disabled selected>Select your education year</option>
                    <option value="1st">1st Year</option>
                    <option value="2nd">2nd Year</option>
                    <option value="3rd">3rd Year</option>
                    <option value="4th">4th Year</option>
                    <option value="5th">5th Year</option>
                    <option value="graduate">Graduate</option>
                    <option value="postgraduate">Postgraduate</option>
                </select><br>
            </div>
            <div class="xButton">
                <button type="button" class="remove-button" onclick="removeEntry(this)"> </button>
            </div>

        </div>
    </div>
    <button type="button" id="addEducation">Add More</button>

            <h1> Emergency Contact Information </h1>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="contactPerson">Contact Person in Case of Emergency: </label><br>
            <input class="inputBox" type="text" id="contactPerson" name="contactPerson" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="contactPersonContact">Contact Number: </label><br>
            <input class="inputBox" type="text" id="contactPersonContact" name="contactPersonContact" required><br>
        </div>

    </div>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="contactRelationship">Relationship: </label><br>
            <input class="inputBox" type="text" id="relationship" name="relationship" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="contactAddress">Address: </label><br>
            <input class="inputBox" type="text" id="contactAddress" name="contactAddress" required><br>
        </div>
    </div>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="comments">Comments: </label><br>
            <textarea class="commentBox" id="comments" name="comments" required></textarea><br>
        </div>

    </div>
    <h1> Health Information </h1>

    <div class="divider">
        <div class="comboBox">
            <label class="left" for="physician">Attending Physician: </label><br>
            <input class="inputBox" type="text" id="physician" name="physician" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="dod">Date of Diagnosis: </label><br>
            <input class="inputBox" type="date" id="dod" name="dod" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="treatmentHub">Treatment Hub: </label><br>
            <input class="inputBox" type="text" id="treatmentHub" name="treatmentHub" required><br>
        </div>
    </div>
    <div class="divider">
        <div class="comboBox">
            <label class="left" for="regimen">Regimen: </label><br>
            <input class="inputBox" type="text" id="regimen" name="regimen" required><br>
        </div>
        <div class="comboBox">
            <label class="left" for="location">Location: </label><br>
            <input class="inputBox" type="text" id="location" name="location" required><br>
        </div>  
        <div class="comboBox">
            <label class="left" for="contact">Contact Person: </label><br>
            <input class="inputBox" type="text" id="contact" name="contact" required><br>       
        </div> 

    </div>
    
    <h2>Concurrent Medications</h2>
    <div id="medications">
        <div class="divider">
            <div class="comboBox">
                <label for="medication0" class="left">Medication:</label><br>
                <input class="inputBox" type="text" id="medication0" name="medication[]" required placeholder="Enter medication"><br>
            </div>
            <div class="comboBox">
                <label for="startDate0" class="left">Start Date:</label><br>
                <input class="inputBox" type="date" id="startDate0" name="startDate[]" required><br>
            </div>
            <div class="xButton">
                <button type="button" class="remove-button" onclick="removeEntry(this)"> </button>
            </div>
        </div>
    </div>
    <button type="button" id="addMedication">Add More</button>
    
    <h2>Medical Conditions</h2>
    <div id="conditions">
        <div class="divider">
            <div class="comboBox">
                <label for="condition0" class="left">Condition:</label><br>
                <input class="inputBox" type="text" id="condition0" name="condition[]" required placeholder="Enter condition"><br>
            </div>
            <div class="xButton">
                <button type="button" class="remove-button" onclick="removeEntry(this)"> </button>
            </div>
        </div>
    </div>
    <button type="button" id="addCondition">Add More</button>
    <br><br>
    <input  type="button" value="submit" id="submit-btn">
</div>
