*{
    margin: 0;
    padding: 0;
}

.mainPanel{
    background-color: aquamarine;
    display: flex;
    padding-top: 6vh;
    height: 1000px;
    width:85%;
    margin-left: 15%;
}

aside{
    display: flex;
    justify-content: left;
    padding-top: 6vh;
    height:100%;
    width:15%;
    position: fixed;
    background-color: brown;
    z-index: 50;
}
body{
    display: flex;
}